body {
  height: 100%;
  background-color: #0091f742;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #0091f7;
  color: #fff;
  text-align: center;
}
h3 {
  padding: 50px 0px;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

input {
  width: 600px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: 600px;
  height: 50px;
  font-size: 14px;

  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}

.message {
  padding: 10px 10px 10px 10px;
  width: auto;
}
.messages {
  background-color: #fff;
  width: 100%;
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: auto;
  border-radius: 5px;
}

.messageContainer {
  border-radius: 15px;
  background-color: #0091f7;
  width: auto;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 20px 0;
}

.messageContainerAlter {
  border-radius: 15px;
  background-color: red;
  width: auto;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 20px 0;
}
@media (max-width: 800px) {
  #chat {
    padding-top: 30px;
  }
}
